TWILIO_ACCOUNT_SID    = "ACXXXXXX"
TWILIO_AUTH_TOKEN     = "XXXXXXXX"
CALL_FROM_NUMBER      = "+15164445555"
SMS_FROM_NUMBER       = "+18725554444,+16514445555"
STUDIO_FLOW_ENDPOINT  = "https://studio.twilio.com/v2/Flows/FWXXXXX/Executions"
